.container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: #dfe1e582;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 34px;
}

.description {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  align-self: center;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  flex: 1 1 250px;
  max-width: 320px;
  min-width: 220px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  align-items: center;
  padding: 20px;
  justify-content: flex-start;
  margin-bottom: 0;
}

.img {
  width: 310px;
  height: 280px;
  border-radius: 8px;
}

.cardTitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #001f3f;
}

.cardBtn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  align-self: center;
  color: #001f3f;
  background-color: #00ffff;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}
