.footer {
  background: #222;
  color: #fff;
  width: 100%;
  padding: 0 0 2.5rem 0;
  font-family: "Lato", Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 130px;
  height: auto;
}

.contact {
  text-align: center;
  margin-bottom: 2.5rem;
}
.phone,
.email {
  color: #fff;
  font-size: 1.1rem;
  font-family: "Lato", Arial, sans-serif;
  margin-bottom: 0.2rem;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1.5rem;
}
.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.15rem;
  font-family: "Lato", Arial, sans-serif;
  transition: color 0.2s;
  outline: none;
  text-align: center;
}
.menu a:hover,
.menu a:focus {
  color: #2de0b7;
  text-decoration: underline;
}

.socialIcons a {
  border: 1px solid #fff;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialIcons {
  display: flex;

  margin-top: 50px;
}

.icon {
  width: 20px;
  height: 20px;
}
